# Core ML
torch
transformers
datasets
sentencepiece

# Data processing
pandas
numpy
scikit-learn

# Evaluation / Plots
matplotlib
seaborn

# FastAPI Backend
fastapi
uvicorn[standard]
pydantic

# Utilities
python-dotenv
tqdm
